# Backend Environment Configuration
# Port for the server
PORT=3000

# SQLite3 Database
DB_SQLITE_STORAGE_PATH=".db/data.sqlite3"
DB_SQLITE_SYNCHRONIZE="true"
DB_BUILD_MODELS="false"

AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
AWS_REGION="us-east-1"
AWS_CEREMONY_BUCKET_POSTFIX="brebaje-testing"
AWS_S3_CORS_ORIGINS="http://localhost:3000,https://brebaje.com"
# JWT Auth
JWT_SECRET="your_secret_key"
JWT_EXPIRES_IN="1d"

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=your_github_client_id_
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_OAUTH_APP_CALLBACK=your_api_callback_route

CONFIG_STREAM_CHUNK_SIZE_IN_MB=50
